 @font-face {
     font-family: karla;
     src: url('/assets/karla-font/Karla-Regular.ttf');
}

* {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}

:root {
    --charcoal: #191d1a;
    --white: #fff;
    margin: 0;
    padding: 0;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  background-color: #191d1a;
  color: var(--white);
  font-family: karla, sans-serif;
  -webkit-text-size-adjust: 100%;
  font-size: 17px;
  line-height: 1.7;
  font-weight: 300;
}


.page-container {
  min-height: 100vh;
  /* background-color: aliceblue; */
}

.side-nav {
  border-right: 1px solid rgb(92, 96, 105);
  display: flex;
  flex-direction: column;
}

.side-nav-title {
    font-weight: 800;
    font-size: 1.3em;
    border-bottom: 1px solid rgb(92, 96, 105);
    padding: 15px 10px;
}

img.side-nav-title  {
    height: 50px;
    object-fit: scale-down;
}

@media screen and (min-width: 1000px) {
  .side-nav {
    width: 370px;
    height: 100vh;
    position: fixed;
  }
}
.side-nav-container {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding: 30px 20px;
  overflow-y: auto;
}

header {
  display: flex;
  flex-direction: row;
  height: 40px;
  align-items: baseline;
  padding: 10px 25px 5px 25px;
  border-bottom: 1px solid var(--white);
}

.header-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
}

.side-nav-container li {
  color: #ffb2b2;
  list-style: none;
  line-height: 1.8em;
  cursor: pointer;
  border-bottom: 1px solid var(--charcoal);
  display: block;
  margin-bottom: 4px;
}
.side-nav-container li:before {
  content: "- ";
  vertical-align: top;
}

.side-nav-container li:hover {
  border-bottom: 1px solid #fff;
}


.side-nav-container li li {
  list-style: none;
  font-size: 14px;
  margin-left: 1em;
  color: white;
  padding: 1px;
}

.side-nav-container li li:hover {
  background-color: #000000;
  border-radius: 3px;
  color: #fff;
  border-bottom: 1px solid #000;
}

.header-links li {
  border-left: 1px solid var(--white);
  padding: 0 15px;
}
span.side-nav-section {
	display: inline-block;
	width: 90%;
	/* vertical-align: middle; */
}
span.side-nav-section:hover {
  background-color: #000000;
  border-radius: 3px;
  color: #fff;

}

.main-pagination {
  display: flex;
  flex-direction: column;
  
}

@media screen and (min-width: 1000px) {
  .main-pagination {
     margin-left: 370px;
  }
}

.pagination-container {
    border-bottom: 1px solid rgb(92, 96, 105);
    z-index: 10;
    position: relative;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    height: 80px;
    background-color: #fff9f6;
}

.pagination-link {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  /* border-left: 1px solid rgb(92, 96, 105); */
  border-right: 1px solid rgb(92, 96, 105);
  color: black;
  padding: 0 33%;
  /* font-family: monospace; */
  font-weight: initial;
  text-decoration: none;
}

.pagination-link:hover {
  background-color: rgb(42, 45, 51);
  color: #ffb2b2;
}

.main-content {
    -webkit-box-flex: 1;
    flex-grow: 1;
    overflow: hidden visible;
    /* flex-direction: row-reverse; */
    min-height: 100vh;
    background-color: #fff9f6;
}

@media screen and (min-width: 1000px) {
  
}

@media screen and (max-width: 999px) {
  .main-content, .main-pagination {
    display: none;
  }
}

.content-container {
      /* background: #fffdf3; */
      color: rgb(29 66 66);
      padding: 40px 80px;
      font-feature-settings: "liga" 0;
      line-height: 1.7;
      /* font-family: "IBM Plex Mono", monospace; */
      font-weight: 300;
}
section {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  /* margin: 40px 0px; */
  flex-direction: column;
}

p a {
	color:black;
	background-color: #ffebeb;
}

blockquote {
  margin: 1em 0;
  /*   width: 50%; */
  padding: 0;
  font-family: Karla;
  background-color: white;
  padding: 15px;
  border-left: 2px solid #c7c7c7;
}

h1 {
	font-weight: 800;
}